LOCALSTACK_AUTH_TOKEN=YOUR_LOCALSTACK_AUTH_TOKEN
TF_VAR_aws_region=DEFAULT_REGION_PROVIDED_BY_LOCALSTACK
TF_VAR_aws_access_key_id=DEFAULT_ACCESS_KEY_PROVIDED_BY_LOCALSTACK
TF_VAR_aws_secret_access_key=DEFAULT_SECRET_KEY_PROVIDED_BY_LOCALSTACK
